/* ????????? ????? ??? ???????? */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9224a598;
}

/* ????? ??? ????? */
header {
    padding: 20px;
    display: flex;
    background-color: #dfb0ed;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    max-width: 80%;
}

.student-photo {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin-left: 20px;
}

/* ????? ??? ????????? */
nav {
    background-color: #cba6e4;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    nav button {
        background-color: #df77e8;
        color: #EFECE7;
        border: none;
        padding: 10px 15px;
        margin: 5px;
        cursor: pointer;
        border-radius: 12px;
        transition: background-color 0.3s, transform 0.3s;
    }

        nav button:hover {
            background-color: #e138a3;
            color: #ffffff;
            transform: translateY(-2px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        nav button.active-button {
            background-color: #e596b8;
            /* ??????? ????? ??? ???????? ?????? */
            color: #1A202C;
            /* ?????-????? ????? */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

/* ???????? ????????? */
main {
    display: flex;
    padding: 20px;
}

/* ????? ??? ????????? */
.screen-img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    gap: 20px;
}

/* ????? ??? ???????? */
.text-content {
    background-color: #f4abd7;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.content-section {
    display: none;
    width: 100%;
}

    .content-section.active {
        display: flex;
        width: 1400px; /*????????? ??? ??? ?????, ?????????? ???????????? ?????*/
    }

/* ????? ??? sidebar */
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

    .sidebar button {
        background-color: #c55e7d;
        color: #EFECE7;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 12px;
    }

        .sidebar button:hover {
            background-color: #af126b;
            color: #ffffff;
            transform: translateY(-2px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        .sidebar button.active-button {
            background-color: #c353a1;
            color: #1A202C;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

/* ????? ??? ????????? ?????? ? ?????? ????????? */
#structure p {
    white-space: pre-line;
}
